p {
  margin-bottom: 0.5em;
}

.btn {
  border:none;
  color:whitesmoke;
  border-radius: 10px;
}

.blue{
  background-color: rgb(4, 96, 217);
}

.blue:hover{
  background-color: rgb(4, 118, 217);
}

.lightBlue{
  background-color:rgb(94, 173, 242);
}

.lightBlue:hover{
  background-color:rgb(153, 217, 242);
}

.title{
  font-size:50px;
  color: rgb(153, 217, 242);
}

.orange{
  color:rgb(242, 156, 80);
}
